/*general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DCD6F7;
   
}
/*Forma*/
#semi_circulo{
    width: 17%;
    height: 93%;
    border-radius:  0 0 100% 0;
    background: #0582CA;  
}

/*header*/
.navbar{
    color: #DCD6F7;
    background-color: #660061 ;
    position: sticky;
    height: 5vw;
    top: 0;
}
.header-text{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #DCD6F7;
}
/*Wave*/
.under-header{
    width: 100%;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    /*Todo lo que sobrepase el navegador se oculta*/
    overflow: hidden;
}
  .bg_color{
      width: 100%;
      height: 18%;
      background-color: #660061 ;
      /*Position para que aparezca y el 0 para que este pegado al top de la pag*/
      position: absolute;
      top: 0;
  }
  .wave{
      width: 300%;
      height: 18%;
      position: absolute;
      top: 150px;
      left: 0;
      background-image: url('img/OLA.svg');
      background-position: bottom;
  } 
  .w1{
      /*Dura 7segundos sin hacer pausas, infinitamente*/
    animation: w1 10s linear infinite;
  }
  /*animacion desplazamiento dura 7s y que no sea constante e infinito, le agrego opacidad pa que no que se note la animation desplazamiento*/
  .w2{
      /*el -.125 es para darle un delay, fijate cambiarlo*/
    animation: w2 10s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
  }
  /*Uso keyframe para punto de start y end, cuando este en 0% se le asiga un ML de 0, y cuando este en 100, que se desplace -1600px*/
  @keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/*cuando este al 0 y al 100 se transforme y se desplace en eje Y, en 50 sea mayor*/
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-5px);
    }

    50%{
        transform: translateY(25px);
    }
    
}

/*Textos-Letras*/
#texto{
    color: #660061;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0;
}

.titulo-que-son{
    font-size:3vw;
}

.parrafo-que-son{
    font-size:1.6vw;
}
#parrafos-info{
    font-size: 1.6vw;
    font-family: 'Poppins', sans-serif;
}
.sexting-info{
    color: #660061;
    margin-top: 3vw;
    margin-right:2vw;
    text-align: justify;
    
}
.cb-info{
    color: #DCD6F7;
    margin-top: 3vw;
    margin-right:6vw;
    text-align: justify;
}

.grooming-info{
    color: #660061;
    margin-top: 3vw;
    margin-right:4vw;
    text-align: justify;
}
.titulos{
    position: absolute;
    top: 5%;
    left: 12%;
}

#titulo-sexting{
    color: #660061;
    font-family: 'Poppins', sans-serif; 
    text-align: start;
    font-size: 5vw;
}

#sexting-mas-info{
    overflow: hidden;
    padding-left: 12%;
}

#div-cards-sexting{
    font-family: 'Poppins', sans-serif;
    padding: 0 3rem;
}

#div-carousel-sexting{
    font-family: 'Poppins', sans-serif;
}

#titulo-cb{
    color: #DCD6F7;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}
#titulo-grooming{
    color: #660061;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 3.5vw;
}

.fondo{
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 8vw;  
}

#fondo-txt-preg{
   
    display: inline;
    color: transparent;
    font-size: 14vw;  
    -webkit-text-stroke: 2px #660061;;
}
#fondo-txt{
    color: transparent;
    -webkit-text-stroke: 2px #660061;;
    align-items: center;
}
.contenedor-tecnologia{
    display:flex;
    align-items: center;
}
.imagen-underheader{
    border-radius: 50%;
    
    
}
/*Img*/
.caja{
    position: relative;
    display: inline-block;
}


/*Footer*/

.footer{
    color: #DCD6F7;
    font-family: 'Poppins', sans-serif;
}
.footerCR{
    background-color: #470044;
}


footer {
    background-color: #660061;
    color: #DCD6F7;
  }
  
  footer a {
    color: #DCD6F7;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #F4A6A2;
    text-decoration:none;
    
  }

  /* Botones*/
  .top{
    border: 0;
    border-radius:40%;
    display: none;
	padding:1rem;
	background:#791f74;
    color: #DCD6F7;
	cursor:pointer;
	position: fixed;
	bottom:1rem;
	right:1rem;

}

.boton{
    background-color: #660061;
}

.entre-panes{
    height:40vw;
}

/* INICIA AGREGADO DE GROOMING (Gabi)*/
.borde-tel{
    background-color: #5c5c5c;
    width: 400px;
    height: 600px;
    border-radius: 5%;
    margin: 200px;
}

/*TELEFONO*/

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

    .phone {
    width: 100%;
    max-width: 320px;
    height: 410px;
    margin: 0 auto;
    background-color: #3c3f4b;
    background-size: 70px 120px;
    }

    .phone header {
    background: #fff;
    height: 65px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    filter: blur(2px); /*activar blur*/
    }

    .head-higher {
    font-weight: 600;
    padding-top:5px;
    }

    .play {
    float: left;
    padding-left: 10px;
    position:relative; 
    left:30px;
    }
    .play span{font-weight:800; font-size:35px; position:absolute; left:-25px; top:-18px;}

    .time {
    text-align: center;
    position:relative;
    left:5px;
    }

    .fa-wifi{position:relative;left:5px;}

    .battery {
    float: right;
    padding-right: 10px;
    }

    .head-lower {
    margin-top: 15px;
    }

    .home {
    float: left;
    position:relative;
    }

    .fa-chevron{
        color:#666; 
        font-size:38px;
        padding: 0px;
    }

    .nombrechat {
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 32px rgb(0, 0, 0);
    }

    .half.intro {
    margin: 15px auto;
    text-align: center;
    }

    .iphone-container {
    margin: 0 auto;

    padding: 20px 0;
    }
    /*Styles for Dark version*/

    .dark .phone-shape {
    border-color: #444;
    background-color: #333;
    box-shadow: -47px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.6);
    }

    .dark .camera,
    .dark .circle,
    .dark .speaker,
    .dark .circle-button {
    background-color: #222;
    }

    .dark .buttons,
    .dark .button.last {
    background-color: #333;
    box-shadow: -45px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.6);
    }
    /*Default Phone Color Styles - White*/

    .phone-shape {
    width: 295px;
    height: 532px;
    border-radius: 40px;
    border: 2px solid #fff;
    margin: 0 auto;
    padding: 60px 10px;
    background-color: #f3f3f3;
    position: relative;
    box-shadow: -47px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1)
    }

    .phone-screen {
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    overflow-y: hidden;
    position: relative;
    }

    .top-details {
    position: absolute;
    left: 0;
    top: 17px;
    width: 100%;
    }

    .camera,
    .circle,
    .speaker {
    border-radius: 100px;
    display: block;
    background-color: #e1e1e1;
    }

    .camera {
    height: 7px;
    width: 7px;
    margin: auto;
    }

    .circle {
    height: 9px;
    width: 9px;
    position: absolute;
    left: 95px;
    top: 16px;
    }

    .speaker {
    height: 7px;
    width: 90px;
    margin: 10px auto 0;
    }

    .buttons,
    .button.last {
    width: 3px;
    background: #eee;
    position: absolute;
    }

    .buttons {
    box-shadow: -45px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1);
    }

    .button.last {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }

    .circle-button {
    height: 40px;
    width: 40px;
    background: #444;
    margin: 17px auto;
    border-radius: 100px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -6px;
        z-index: 77;
    }

    .button-one {
    height: 20px;
    left: -7px;
    top: 59px;
    border-radius: 4px 0 0 4px;
    }

    .button-two {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 110px;
    border-radius: 4px 0 0 4px;
    }

    .button-three {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 165px;
    border-radius: 4px 0 0 4px;
    }

    .button-four {
    height: 40px;
    width: 3px;
    right: -7px;
    top: 110px;
    border-radius: 0 4px 4px 0;
    }


.pantallaChat{
    filter: blur(2px);
}


    .bubble-izq{
        background-color: #128C7E;
        font-size: 14px;
        display: block;
        clear: both;
        margin-bottom: 8px;
        margin-top: 8px;
        margin-right: 27%;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 5px;
        }

    .bubble-der{
        background-color: #128C7E;
        font-size: 14px;
        display: block;
        clear: both;
        margin-bottom: 8px;
        margin-top: 8px;
        margin-left: 27%;
        margin-right: 10px;
        padding: 10px 10px;
        border-radius: 5px;
        }


/* FINALIZA AGREGADO DE GROOMING (Gabi)*/

