/*general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DCD6F7;
   
}
/*Forma*/
#semi_circulo{
    width: 17%;
    height: 93%;
    border-radius:  0 0 100% 0;
    background: #0582CA;  
}

/*header*/
.navbar{
    color: #DCD6F7;
    background-color: #660061 ;
    position: sticky;
    height: 5vw;
    top: 0;
}
.header-text{
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #DCD6F7;
}
/*Wave*/
.under-header{
    width: 100%;
    padding-bottom: 120px;
    padding-top: 100px;
    position: relative;
    /*Todo lo que sobrepase el navegador se oculta*/
    overflow: hidden;
}
  .bg_color{
      width: 100%;
      height: 18%;
      background-color: #660061 ;
      /*Position para que aparezca y el 0 para que este pegado al top de la pag*/
      position: absolute;
      top: 0;
  }
  .wave{
      width: 300%;
      height: 18%;
      position: absolute;
      top: 150px;
      left: 0;
      background-image: url('img/OLA.svg');
      background-position: bottom;
  } 
  .w1{
      /*Dura 7segundos sin hacer pausas, infinitamente*/
    animation: w1 10s linear infinite;
  }
  /*animacion desplazamiento dura 7s y que no sea constante e infinito, le agrego opacidad pa que no que se note la animation desplazamiento*/
  .w2{
      /*el -.125 es para darle un delay, fijate cambiarlo*/
    animation: w2 10s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
  }
  /*Uso keyframe para punto de start y end, cuando este en 0% se le asiga un ML de 0, y cuando este en 100, que se desplace -1600px*/
  @keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/*cuando este al 0 y al 100 se transforme y se desplace en eje Y, en 50 sea mayor*/
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-5px);
    }

    50%{
        transform: translateY(25px);
    }
    
}

/*Textos-Letras*/
#texto{
    color: #660061;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0;
}

.titulo-que-son{
    font-size:3vw;
}

.parrafo-que-son{
    font-size:1.6vw;
}
#parrafos-info{
    font-size: 1.6vw;
    font-family: 'Poppins', sans-serif;
}
.sexting-info{
    color: #660061;
    margin-top: 3vw;
    margin-right:2vw;
    text-align: justify;
    
}
.cb-info{
    color: #DCD6F7;
    margin-top: 3vw;
    margin-right:6vw;
    text-align: justify;
}

.grooming-info{
    color: #660061;
    margin-top: 3vw;
    margin-right:4vw;
    text-align: justify;
}
.titulos{
    position: absolute;
    top: 5%;
    left: 12%;
}

#titulo-sexting{
    color: #660061;
    font-family: 'Poppins', sans-serif; 
    text-align: start;
    font-size: 5vw;
}

#sexting-mas-info{
    overflow: hidden;
    padding-left: 12%;
}

#div-cards-sexting{
    font-family: 'Poppins', sans-serif;
    padding: 0 3rem;
}

#div-carousel-sexting{
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 500px){
    body{
        background-color: red;
    }
}

#titulo-cb{
    color: #DCD6F7;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}
#titulo-grooming{
    color: #660061;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 3.5vw;
}

.fondo{
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 8vw;  
}

#fondo-txt-preg{
   
    display: inline;
    color: transparent;
    font-size: 14vw;  
    -webkit-text-stroke: 2px #660061;;
}
#fondo-txt{
    color: transparent;
    -webkit-text-stroke: 2px #660061;;
    align-items: center;
}
.contenedor-tecnologia{
    display:flex;
    align-items: center;
}
.imagen-underheader{
    border-radius: 50%;
    
    
}
/*Img*/
.caja{
    position: relative;
    display: inline-block;
}


/*Footer*/


footer {
    background-color: #660061;
    color: #DCD6F7;
  }
  
  footer a {
    color: #DCD6F7;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #F4A6A2;
    text-decoration:none;
    
  }

  /* Botones*/
  .top{
    border: 0;
    border-radius:40%;
    display: none;
	padding:1rem;
	background:#791f74;
    color: #DCD6F7;
	cursor:pointer;
	position: fixed;
	bottom:1rem;
	right:1rem;

}

.boton{
    background-color: #660061;
}

.entre-panes{
    height:40vw;
}

.astronauta{
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 7rem;
    left: 2rem;
    z-index: 1;
}